.eduinside-navbar-brand {
    margin: 0;
}

.eduinside-navbar {
    padding: 0;
}


.eduinside-navbar-items {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    flex-grow: 1;
}


.eduinside-navbar-items li {
    font-size: larger;
}