.bg-teal {
    color: rgb(19 78 74);
}


.quiz-navbar-brand {
    margin: 0;
    color: rgb(19 78 74);
}

.quiz-navbar-items {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    flex-grow: 1;
}


.quiz-navbar-items li {
    font-size: larger;
    font-weight: 600;
}
